

.intern-div{
   width: 100%;
  height: 100%;
}
.intern-main-container{
   width: 60%;
   padding:2rem 1rem;
   margin: 0 auto;
    height: 100%;
  
}
.intern-div-form-card{
   padding: 1rem ;
   margin-top: 1rem;
   border-radius:8px;
   box-shadow: 0 1px 1px rgba(0,0,0,0.10), 
    0 2px 2px rgba(0,0,0,0.10), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
}
/* Add these styles to your CSS file or style tag */


 .accordion {
   background-color: white;
   margin-bottom: 10px;
   border: 1px solid #ddd;
   border-radius: 5px;
   overflow: hidden;
 }
 
 .accordion h2 {
   background-color: #4caf50;
   color: #fff;
   padding: 15px;
   margin: 0;
   cursor: pointer;
 }
 
 .accordion h2:hover {
   background-color: #45a049;
 }
 
 .accordion ul {
   list-style: none;
   padding: 0;
   margin: 0;
 }
 
 .accordion li {
   background-color: #f5f5f5;
   border-radius: 5px;
   box-shadow: 0 1px 1px rgba(0,0,0,0.10), 
    0 2px 2px rgba(0,0,0,0.10), 
    0 4px 4px rgba(0,0,0,0.15), 
    0 8px 8px rgba(0,0,0,0.15);
   padding: 10px;
   margin: 0.5rem 0.25rem;
   cursor: pointer;
 }
 
 .accordion li:hover {
   border: 1px solid gray;
   background-color: #f0f0f0;
 }
 
 .other-category {
   background-color: #4caf50;
   color: #fff;
   padding: 1rem;
   border-radius:5px ;
 }
 .accordion .li-container{
 display: flex;
 flex-direction: column;

   
}
.accordion .li-divider{
   display: flex;
   justify-content: space-between;
  
   
}
.li-divider>span{
   margin-right: 0.55rem;
}
.li-flex{
position: relative;
display: flex;
width: 100%;
align-items: center;
}
 .plus-xl{
   position:absolute;
   right: 0;
   top: 0;
   width: 1.5rem;
   height: 2rem;
  
 }
.modal-o{
   width: 70%;
   margin:0 auto;
   padding: 1rem;
   position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    max-height: 90%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15), 0 2px 2px rgba(0, 0, 0, 0.15), 0 4px 4px rgba(0, 0, 0, 0.15), 0 8px 8px rgba(0, 0, 0, 0.15);
    margin: 0.5em;
    z-index: 9999;
    overflow: auto;
}
.close-button-x{
   position: absolute;
   left: 0;
}



.company-name{
   width: 90%;
}
/*Modal styles here*/
.icon-box{
   width: 100%;
   display: flex;
   justify-content: flex-end;
}
.close-button{
   display: flex;
   height: 1.5em;
   color: tomato;
}

.bold{
   font-weight: bold;
}
.center{
   display: flex;
   justify-content: center;

}
.margin{
   margin: 0.5rem 0;
}
.form-flow{
   width: 80%;
   margin:1rem auto;
}
.form-flow hr{
   width: 82%;
}
.form-flow label{
   display: flex;
   flex-direction: column;

}
.form-flow label>input, label>select{
  width: 85%;
  padding-left: 0.25rem;
  margin-bottom: 0.25rem;
  height: 2.35rem;
  border-radius: 5px;
}
.form-flow label>span{
   display: block;
   margin:0;
   height: fit-content;
   padding: 0; 
   font-weight: 600;
   
}
.form-flow option{
   padding: 0.25rem 0;
}
.form-flow .btn{
   width: 30%;
   height: 100%;
   margin:0  auto;
}
.company-info-div,.company-info-div>p{
   padding: 0.5rem 0;
}

.form-flow button{
   width: 60%;
   font-weight: 600;
   background-color: white;
   border-radius: 5px;
   padding: 0.5rem 1rem;
   margin:0  auto;
}
.form-flow button:hover{
   color: white;
   background-color: black;
}